name: node js dockerizationn
on: 
   push:
      branches: 
      - main
env: 
 CONTAINER_NAME: 'nodejs'

jobs: 
 build-and-run:
  runs-on: ubuntu-latest
  outputs:
      image-tag: ${{ steps.build-image.outputs.image-tag }}
      image-uri: ${{ steps.build-image.outputs.image-uri }}


  steps:
  - name: Checkout code
    uses: actions/checkout@v4

  - name: configure aws credentials
    uses: aws-actions/configure-aws-credentials@v3
    with: 
     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
     aws-region: ${{ secrets.REGION }}

  - name: Login to Amazon ECR
    id: login-ecr
    uses: aws-actions/amazon-ecr-login@v1
    with: 
      AWS_REGION: ${{ secrets.REGION }}

  - name: Build, tag, and push image to Amazon ECR
    id: build-image
    env:
       ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
       ECR_REPOSITORY: myimagerepo
       IMAGE_TAG: ${{ github.sha }}
       AWS_REGION: ${{ secrets.REGION }}
    run: |
       IMAGE_TAG="${GITHUB_SHA:0:8}-$(date +%s)"
       IMAGE_URI="$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"

       echo "Building image: $IMAGE_URI"
       docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
       aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 087615957965.dkr.ecr.us-east-1.amazonaws.com
       docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
       echo "$IMAGE_TAG"
 
  - name: Download current task
    run: |
     aws ecs describe-task-definition \
          --task-definition nodejs-stage-anju-task:2 \
          --query taskDefinition > task-definition.json

  - name: Update task defination with new image
    id: task-def
    uses: aws-actions/amazon-ecs-render-task-definition@v1
    with:
        task-definition: task-definition.json
        container-name: ${{ env.CONTAINER_NAME }}
        image: ${{ needs.build-and-push.outputs.image-uri }}
  
  - name: Deploy to Amazon ECS service
    uses: aws-actions/amazon-ecs-deploy-task-definition@v2
    with:
        task-definition: ${{ steps.task-def.outputs.task-definition }}
        service: ${{ env.ECS_SERVICE }}
        cluster: ${{ env.ECS_CLUSTER }}
        wait-for-service-stability: true
   
     
    
    

 


  
